.otp form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.otp input[type="text"] {
    width: 40px !important;
    height: 40px !important;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.otp button{
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: beige;
}
